<!DOCTYPE html>
<html>
  <head>
    <title>Slick</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Crushed" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>

  </head>
  <body>

    <%= yield %>

  </body>
</html>
