<!DOCTYPE html>
<html>
  <head>
    <title>Slick</title>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Indie+Flower|Lobster|Oxygen|Quicksand" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah|Lobster|Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mystery+Quest" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>

  <!-- </head>
  <body>

    <%= yield %>

  </body>
</html> -->
